@model ML.Alumno
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h2>Alumno</h2>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <hr />

        </div>

    </div>

    <div class="row">


        @using (Html.BeginForm("Form", "Alumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">


                <div class="col-md-3">
                    @Html.LabelFor(model => model.IdAlumno, new { @class = "hidden" })
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-controller"></i></span>
                        @Html.TextBoxFor(model => model.IdAlumno, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.IdAlumno)
                    </div>
                </div>











                <div class="col-md-3">

                    @Html.LabelFor(model => model.Nombre)

                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })

                    @Html.ValidationMessageFor(model => model.Nombre)

                </div>

                <div class="col-md-3">

                    @Html.LabelFor(model => model.ApellidoPaterno)

                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                </div>

                <div class="col-md-3">

                    @Html.LabelFor(model => model.ApellidoMaterno)

                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.ApellidoMaterno)

                </div>
            </div>

            <div class="col-md-3">

                @Html.LabelFor(model => model.FechaNacimiento)

                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control" , @id = "txtFechaNacimiento" })

                @Html.ValidationMessageFor(model => model.FechaNacimiento)

            </div>


            <div class="col-md-3">

                @Html.LabelFor(model => model.Sexo)

                @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Sexo)

            </div>

            <div class="col-md-3">

                @Html.LabelFor(model => model.Semestre)

                @*@Html.TextBoxFor(model => model.Semestre.IdSemestre, new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona una opción", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Semestre.IdSemestre)

                @*                            <select>
                    <option>Selecciona una opción</option>
                    <option>Primero</option>
                    <option>Segundo</option>
                    <option>Tercero</option>
                    <option>Cuarto</option>
                    </select>*@
            </div>



            <div class=" offset-md-12">

                @Html.LabelFor(model=> model.Imagen)

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-card-image"></i></span>
                    <input id="IFImage" type='file' class="form-control" name="IFImage" onchange="validateFile(this), readURL(this);  " />
                </div>

                @if (Model.Imagen != null)
                {

                    <img id="Img" src="data:image/*;base64,@Model.Imagen" style="width:250px ; height:250px" />

                }
                else
                {
                    <img id="Img" src="~/Imagenes/SinAlumno.png" style="width:250px ; height:250px" />
                }


            </div>
            @Html.HiddenFor(model => model.Imagen)






            <div class="form-group">

                <div class="col-md-3">

                    <input type="submit" value="Guardar" class="btn btn-success" />

                    @Html.ActionLink("Regresar", "GetAll", "Alumno", htmlAttributes: new { @class = "btn btn-danger" })

                </div>

            </div>



        }

    </div>


</div>



@section Scripts {
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript">

            $( function() {
              $("#txtFechaNacimiento").datepicker({
        changeMonth: true,
        changeYear: true
      });
    } );

          $(document).ready(function () {

              $("#ddlArea").change(function () {

                  $("#ddlDepartamento").empty();

                  $.ajax({
                      type: 'POST',
                      url: '@Url.Action("GetDepartamento")',
                      data: { IdArea: $("#ddlArea").val() },
                      success: function (departamentos) {


                          $.each(departamentos, function (i, departamentos) {
                              $("#ddlDepartamento").append('<option value="'
                                  + departamentos.IdDepartamento + '">'
                                  + departamentos.Nombre + '</option>');
                          });
                      },
                      error: function (ex) {
                          alert('Failed. ' + ex);
                      }
                  });
              });

          })

          function validateFile() {
              var allowedExtension = ['png', 'jpg'];
              var fileExtension = document.getElementById('IFImage').value.split('.').pop().toLowerCase();
              var isValidFile = false;

              for (var index in allowedExtension) {

                  if (fileExtension === allowedExtension[index]) {
                      isValidFile = true;
                      break;
                  }
              }

              if (!isValidFile) {
                  alert('Las extensiones permitidas son : *.' + allowedExtension.join(', *.'));
                  document.getElementById('IFImage').value = ""
              }

              return isValidFile;
          }

          function readURL(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                      $('#IFImage')
                          .attr('src', e.target.result);

                  };

                  reader.readAsDataURL(input.files[0]);
              }
          }
</script>
}

